<VirtualHost *:80>
    ServerName {{ vhost_name }}
    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ vhost_name }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ vhost_name }}-access.log combined
</VirtualHost>
